body {
    color: black;
    size: 200ch;
    background-image: url(Assets/backgroundImage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.center {
    text-align: center 
  }
.rightAlign {
    text-align: left;
}
.leftAlign {
    text-align: right;
}
.websiteTitle {
    color: black;
    font-size: 70px;
}
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  Í
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

.box {
    inline-size: 25vw;
    overflow-wrap: break-word;
}
